
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.invalid-feedback {
  color: white !important;
}
.border-style {
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}
.page-item.active .page-link {
  background-color: #282c34 !important;
  border-color: white !important;
  color: white !important
}
.page-link:hover {
  color: #282c34 !important;
}
.page-link{
  color: #282c34 !important;

}
.page-link:hover{
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%)
}
.page-link:focus{
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%)

}
/* .page-link{
  color: #282c34 !important;
} */
.cursor{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
